<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Create Enrollment</title>
    </h:head>
    <h:body>
        <h1>New Enrollment</h1>
        <h:form>
            <p>
                <label>Student ID:
                    <h:inputText 
                        id="studentid" 
                        value="#{enrollmentController.enrollment.studentid}" 
                        validatorMessage="You must enter an id"/>
                </label>
                <h:message for="name"/>
            </p>
            <p>
                <label>Student Name:
                    <h:inputText 
                        id="studentname" 
                        value="#{enrollmentController.enrollment.studentname}" 
                        validatorMessage="Please enter a  name" 
                        converterMessage="You must enter a valid charcter"/>
                </label>
                <h:message for="size"/>
            </p>
             <p>
                <label>Password:
                    <h:inputText 
                        id="password" 
                        value="#{enrollmentController.enrollment.password}" 
                        validatorMessage="Please enter a password" 
                        converterMessage="You must enter a valid charcter"/>
                </label>
                <h:message for="password"/>
            </p>
             <p>
                <label>Course ID:
                    <h:inputText 
                        id="courseid" 
                        value="#{enrollmentController.enrollment.courseid}" 
                        validatorMessage="Please enter a courseid" 
                        converterMessage="You must enter valid characters"/>
                </label>
                <h:message for="courseid"/>
            </p>
             <p>
                <label>Course Name:
                    <h:inputText 
                        id="coursename" 
                        value="#{enrollmentController.enrollment.coursename}" 
                        validatorMessage="Please enter a  name" 
                        converterMessage="You must enter valid character"/>
                </label>
                <h:message for="coursename"/>
            </p>
             <p>
                <label>Class Time:
                    <h:inputText 
                        id="classtime" 
                        value="#{enrollmentController.enrollment.classtime}" 
                        validatorMessage="Please enter a time " 
                        converterMessage="You must enter valid charcters"/>
                </label>
                <h:message for="classtime"/>
            </p>
             <p>
                <label>Class Room:
                    <h:inputText 
                        id="classroom" 
                        value="#{enrollmentController.enrollment.classroom}" 
                        validatorMessage="Please enter a  room name" 
                        converterMessage="You must enter valid charcters"/>
                </label>
                <h:message for="classroom"/>
            </p>
            <p>
                <h:commandButton value="Save" action="#{enrollmentController.saveAsNew()}"/>
            </p>
        </h:form>
    </h:body>
</html>

