<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Enrollment</title>
    </h:head>
    <h:body>
        <h:dataTable var="row" value="#{enrollmentController.getAllEnrollments()}">
            <h:column>
               
                <f:facet name="header">
                    Student Name
                </f:facet>
                <h:outputText value="#{row.studentname}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Course Name
                </f:facet>
                <h:outputText value="#{row.coursename}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Class Time
                </f:facet>
                <h:outputText value="#{row.classtime}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Class Room
                </f:facet>
                <h:outputText value="#{row.classroom}"/>
            </h:column>
             <h:column>
                <f:facet name="header">
                    Edit
                </f:facet>
                <h:link value="Edit" outcome="edit">
                    <f:param name="studentid" value="#{row.studentid}"/>
                </h:link>
            </h:column>
             <h:column>
                <f:facet name="header">
                    Delete
                </f:facet>
                <h:link value="Delete" outcome="delete">
                    <f:param name="studentid" value="#{row.studentid}"/>
                </h:link>
            </h:column>
            <h:column>
                <f:facet name="header">
                        View
                </f:facet>
                <h:link value="View" outcome="view">
                    <f:param name="studentid" value="#{row.studentid}"/>
                </h:link>
            </h:column>
        </h:dataTable>
        <h:link value="New" outcome="create"/>
       <h:form> 
           <p>
              <h:commandButton value="Log Out" action="#{enrollmentController.logout()}"/>
           </p>
       </h:form>
    </h:body>
</html>

