    <?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Log In</title>
    </h:head>
    <h:body>
        StudentID: 2  password:xin
       
         <h:form>
            <p>
       
                <label>ID:
                    <h:inputText value="#{enrollmentController.enrollment.studentid}"/>
                </label>
            </p>
            <p>
                <label>Password:
                    <h:inputSecret value="#{enrollmentController.enrollment.password}"/>
                </label>
            </p>
            <h:messages style="color: red;"/>
            <p>
                <h:commandButton value="Log In" action="#{enrollmentController.login()}"/>
            </p>
        </h:form>
    </h:body>
</html>
