<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <f:metadata>
        <f:viewAction action="#{enrollmentController.init(param.studentid)}"/>
    </f:metadata>
    <h:body>
             
               
                    <h:panelGrid columns="6">
                         <h:outputLabel for="studentid" value="Studentid:"/>
                          <h:outputLabel  value="#{enrollmentController.enrollment.studentid}"/>
                        <h:outputLabel for="studentname" value="Studentname:"/>
                         <h:outputLabel  value="#{enrollmentController.enrollment.studentname}"/>
                        <h:outputLabel for="password" value="Password:"/>
                         <h:outputLabel  value="#{enrollmentController.enrollment.password}"/>
                        <h:outputLabel for="courseid" value="Courseid:"/>
                         <h:outputLabel  value="#{enrollmentController.enrollment.courseid}"/>
                        <h:outputLabel for="coursename" value="Coursename:"/>
                        <h:outputLabel  value="#{enrollmentController.enrollment.coursename}"/>
                        <h:outputLabel for="classtime" value="Classtime:"/>
                         <h:outputLabel  value="#{enrollmentController.enrollment.classtime}"/>
                        <h:outputLabel for="classroom" value="Classroom:"/>
                         <h:outputLabel  value="#{enrollmentController.enrollment.classroom}"/>
                        
                    </h:panelGrid>
               
    </h:body>
</html>

