<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title> Log In Success</title>
    </h:head>
    <h:body>
        Dear student, you already log in enrollment system.
        <p><h:link value="View All Enrollments" outcome="enrollment"/></p>
       
        <p><h:link value="Create Enrollment record" outcome="create"/></p>
        <p><h:link value="Delete Your Enrollment record" outcome="delete"/></p>
        <p><h:link value="Edit Your Enrollment record" outcome="edit"/></p>
           <h:form>
            <p>
                <h:commandButton value="Logout" action="#{enrollmentController.logout()}"/>
            </p>
        </h:form>
    </h:body>
</html>

